<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <div class="wrapper">
      <form action="register" method="POST">
        <div class="header">
          <span class="title">Please Register</span>
        </div>
        <div class="userRegister">
            <div class="fields">
              <input type="text" name="userName" value ={{username}}/>
              <input type="password" name="userPass" class ='form-control'/>
            </div>
          <button>register me</button>
        </div>
      </form>
    </div>
  </body>
</html>
